.internshipListingSection {
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.internshipListingSection > h3 {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 16px;
  text-align: center;
}
.internshipListingSection > p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 100px;
  text-align: center;
}
.internshipListingSection > ul {
  width: 100%;
}
